* {
    box-sizing: border-box;
}

html,
body {
    max-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    font-family: "Raleway", "Arial", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: $text;
    overflow: hidden;
    background-color: $background;
}

a {
    color: inherit;
    text-decoration: none;
}

.title {    
    cursor: default;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.2em;
}

.line {
    width: 100px;
    height: 3px;
    margin: 32px auto 0;
    background-color: $accent;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    width: 100%;
    padding: 60px 0px 0px;
    text-align: center;
}

.list {
    width: max-content;
    margin: 0 auto;
    padding: 50px 0px 40px;
    text-align: left;

    &-item {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;

        &:last-child {
            margin-bottom: 0px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0px;
            width: 6px;
            height: 6px;
            margin-top: -3px;
            background-color: darken($accent, 30%);
        }
    }
}

.instructions {
    cursor: default;
    width: 516px;
    max-height: 250px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: $textMuted;
    overflow-y: scroll;

    &::-webkit-scrollbar{
        display: none;
    }
}

.swiper-scrollbar-drag{
    background: darken($accent, 40%) !important;
}